:global {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html {
    width: 100%;
    height: 100%;
  }

  body {
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.8);
    color: #ddd;
  }
  
  #app {
    width: 100%;
    height: 100%;
    /* -webkit-app-region: drag; */
    padding: 20px;
  }
}
